{% extends 'navar/base.html' %}

{% block content %}
    
<section class="login-block">
        <div class="container">
          <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Login NavarPSI</h2>
                <form class="login-form" method="POST">{% csrf_token %}
                    {{ form.as_p }}
                  <div class="form-check">
                    <button type="submit" class="btn btn-login float-right">Iniciar Sesión</button>
                  </div>
      
                </form>
            </div>
            <div class="col-md-8 banner-sec"></div>
          </div>
        </div>
      
      </section>
    
{% endblock %}